@font-face {
    font-family: 'robotoregular';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular-webfont.woff2') format('woff2'),
         url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
 /*-------General-----*/
section
{
    margin-bottom: 100px;
}

.fas
{
    color: #5CADD3;
}



body
{
    font-family: 'robotoregular';
    margin:0;
    
}

.titre_service
{
    font-size: 1.5em;
}

.wrapper
{
    max-width: 900px;
    margin-right: auto;
  margin-left:  auto;
  padding-right: 10px;
  padding-left:  10px;
}

.flex
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 80px;
    
}

/*---------menu de navigation-------*/


header
{

    position: sticky;
    z-index: 4;
    top: 0;
    background-color: white;
   
    
    
}


nav
{
    
    font-family: 'robotoregular', arial, serif;
}

header ul
{
    display: flex;
    list-style-type: none;
}

header li a
{
   text-decoration: none;
    text-align: center;
    color: black;
    padding: 25px 15px 0px 15px;
    
}

header li a:hover
{
    border-top: 3px #5CADD3 solid;
}

/*--------image banniere--------*/


#banniere button
{
    padding: 10px 15px 10px 15px;
    color: #fff;
    background-color: #5CADD3;
    border: none;
    border-radius: 2px;
}


#image_fillette
{
    background-image: url(image/fillette.jpg);
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover;
    background-position: center;
    
}

.bleu
{
    color: #5CADD3;
}

.titre_agency
{
    color: white;
    font-size: 2em;
    padding-top: 70px;
} 

.p_agency
{
    color: white;
    font-size: 0.9em;
}
/*---------------------Service--------------*/


#service
{
	
	text-align: center;
	font-family: 'robotoregular',arial, serif;
}

#titre1
{
	padding-bottom: 35px;
	position: relative;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#titre1 .fa-circle
{
	border: 1.5px solid white;
	border-radius: 50%;
	z-index: 2;
	position: relative;
}

#titre1 hr
{
	width: 450px;
	position: absolute;
    
     }

#ecran_paragraphe
{
	display: flex;
	margin-bottom: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

#ecran img
{
    width: 400Px;
}


#paragraphe
{
	
	padding-top: 60px;
    padding-left: 30px;
    width: 400px;
}

#paragraphe .fa-circle
{
	position:absolute;
	top:28px;
	left:66px;
    bottom: 44px;
	background-color:#fff;
	border:2px solid white;
	border-radius: 50%;
	padding: 2px;
    
}

#paragraphe .fas
{
	display: inline-block;
}

#uxdesign,#uidesign,#seo
{
	display: flex;
}

.fa-chart-line,.fa-cubes,.fa-chart-pie
{
	position:relative;
	padding:30px;
	border:1px solid #ebebeb;
	border-radius:50%;
    
}

.icone
{
	padding-top:40px;
		
}

.text_icone
{
	padding-left: 20px;
	text-align: left;
}


/*----------Nos projet------*/

#projet
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: #f5f5f5;
    overflow: hidden;
}

#titre2
{
    padding-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titre2 .fa-circle
{
    border: 1.5px white;
    border-radius: 50%;
    
}

#nav_folio ul
{
	display: flex;
	/*width: 100%;*/
	height: 34px;
	padding:0;
	background-color: #E5E5E5;
	list-style-type: none;
	border-radius: 5px;
}

#nav_folio li 
{
	display: flex;
	flex-direction: column;
	width: 100px;
	text-align: center;
}

#nav_folio li a
{
	text-decoration: none;
	padding:8px 8px 8px 8px;
	border-radius: 2px;
	color: black;
}

#nav_folio li a:hover
{	
	background-color:#5CADD3;
	box-shadow:0px 3px 0px #438AAC;
	color: #fff;
}

.fa-caret-down
{
	visibility: hidden;
}

#nav_folio li:hover .fa-caret-down
{
	visibility: visible;
	display: block;
	color:#5CADD3;
	margin-top: -3px;
}

#portfolio
{
	padding-top: 50px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto 1fr auto;
	grid-auto-flow: row;
	grid-row-gap: 25px;
	grid-column-gap: 25px;
}

#portfolio i
{
	position: relative;
	bottom: 115px;
	left: 245px;
	padding:10px;
	border:2px solid white;
	border-radius: 50%;
	background-color: #4592B0;
	color: white;
}

.eye_bloc h4
{
	padding: 0px 15px 0px 15px;
}

.eye_bloc p
{
	padding: 0px 15px 0px 15px;
}

.legende
{
	position: absolute;
	display: block;
	right: 0;
	left: 0;
	bottom:0px;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	visibility: hidden;
}

figure
{
	position: relative;
	display: inline-block;
	margin:0;
	overflow: hidden;
	width: 300px;
	height:200px;
}

figure img
{
	width: 100%;
	position: absolute;
	right: 0;
	top: 0;
	bottom:0;
	left:0 ;
}

figure:hover figcaption
{
	visibility: visible;
}

/*----------------------formulaire------------*/



#map
{
	position: relative;
	height: 600px;
	font-family: 'robotoregular',arial, serif;
}

iframe
{
	width: 100%;
	height: 600px;
	position: absolute;
	z-index: 1;
	border:0;
    opacity: 0.6;
    
}

#filtre
{
	width: 100%;
	height: 600px;
	position: absolute;
	z-index: 2;
	background-color:rgba(152,199,240,0.35);
}

	
form
{

	background-color:rgba(255,255,255,0.50);
	width: 250px;
	position: absolute;
	top: 45px;
    right: 20px;
	z-index: 3;
	border-radius: 3px;
}

#contact_info
{
	padding-left: 23px;
	padding-top: 7px;
	line-height: 10px;
} 

form input
{
	width: 200px;
	margin-bottom: 15px;	
} 

#bloc_form
{
	padding-left: 23px;
	padding-bottom: 7px;
}

textarea
{
	width: 198px;
	height: 150px;
}

#sendmessage button
{
	border:none;
	padding: 5px 10px 5px 10px;
	border-radius: 2px;
	background-color: #5CADD3;
	box-shadow:0px 3px 0px #438AAC;
	color: #fff;
}

/*------------------------------------Responsive Tablette---------------------------*/

@media all and (max-width:905px)
    
{      /*IMAGE BANNIERE*/
    
    #titre_principale
    {
        position: absolute;
        top: 70px;
        left: 40px;
        font-size: 15px;
    }
     
    #titre_principale p
    {
        font-size: 12px;
    }
    
    #image_fillette
    {
        height: 300px;
    }
 /*-----Nos projet----*/
    
    #portfolio
    {
        grid-template-columns: repeat(2, 1fr);
    } 
    
    /*FORMULAIRE DE CONTACT*/

	form
	{
		width: 250px;
		margin-left: 74%;
		margin-top: 15px;
        
	}
    
}

    
/*-------------SMARTPHONE RESPONSIVE-------------*/
    
    @media all and (max-width:600px)
        
    /*Barre de navigation*/
    
    {
     
       header
        {
                    display: flex;
        justify-content: space-between;
        align-items: center;
        height: 115px;
        }
    
    header ul
    {
        display: flex;
        justify-content: center;
        
    } 
    
    header li a 
    {
        padding: 25px 10px 0px 0px;
    }
    
    header li a:hover
    {
        border-top: 2px #5CADD3 solid;
    }
    
    
    .menu_nav
    {
        padding: inherit;
    }
    
        nav
        {
        
        }
    #portfolio
    {
        grid-template-columns: repeat(1, 1fr);
        padding-top: 50px;
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-auto-flow: row;
        grid-row-gap: 25px;
        grid-column-gap: 25px;

    } 
        #image_fillette
        {
            height: 200px;
        }
         #titre_principale
    {
        position: absolute;
        top: 30px;
        left: 5px;
        font-size: 12px;
    }
     
    #titre_principale p
    {
        font-size: 10px;
    }
        /*FORMULAIRE DE CONTACT*/

	form
	{
		position: absolute;
		margin-left: 45px;
		margin-top: 0px;
	}

	iframe
	{
		width:100%;
		height: 600px;
		position: absolute;
		z-index: 1;
		border:0;
	}
    
}
    


